<% if note.present? && note.image.attached? %>
  <div class="card">
    <div class="card__img-container">
      <%= link_to image_tag(note.image, class: :card__img), note_path(note.id) %>
    </div>
    <div class="card__body"> 
      <%= link_to "by #{note.user.name}", root_path, class: :card__user %>
    </div>
  </div>
<% end %>

