<main class="main">
  <div class="inner">

    <% if user_signed_in? %>
      <div class="greeting">
        Welcome 「
        <%= link_to "#{current_user.name}", user_path(current_user), class: :greeting__link%>
        」<br>
        みんなのリアルバイをみてみよう
        </div>
        <div class="card__wrapper">
        <%= render partial: 'note', collection: @notes %>
        </div> 
      <% else%>
      <div class="snow-container">
       <div class="snow"></div>
      </div>
        <div class="greeting2">
        Hi, there! Sign up to check out your friend's note 
        </div>
        <img src="<%= image_path('dog.gif') %>" alt="Animated Image" class="dog">
    <% end%>

  </div>
</main>
