<main class="main">
  <div class="inner">

    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、 
        <%= link_to "#{current_user.name}", user_path(current_user), class: :greeting__link%>
        さん
        </div>
        <div class="card__wrapper">
        <%= render partial: 'note', collection: @notes %>
        </div> 
      <% else%>
      <div class="snow-container">
       <script src="index.js"></script>
       <div class="snow"></div>
      </div>
        <div class="greeting2">
        Hi, there! Sign up to see photos from your friends 
        </div>
        <img src="<%= image_path('inu.gif') %>" alt="Animated Image" class="inu">
    <% end%>

  </div>
</main>
