/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fdfbd4;
  background-color: #be0027;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}
.footer{
  margin-top: 70px;
  height: 70px;
  background-color: #efec81;
  text-align: center;
  padding-top: 20px;
  color: #686868;
  font-size: 10px;
}

/* ヘッダー */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #efec81;
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
  z-index: 1000; /* ヘッダーを最前面に表示するための値 */
}

.main{
  padding-top: 200px;
}

.inner {
  width: 80%;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: flex;
}

.logo {
  text-align: center; /* ロゴを中央寄せにする */
  margin-top: 2%;
}

.logo a {
  width: 100%;
  display: block; /* インライン要素からブロック要素に変更 */
  max-width: 350px;
  margin: 0 auto; /* 左右中央寄せ */
}

@media screen and (max-width: 768px) {
  .logo a {
    max-width: 500px;
  }
}

.nav__btn {
  display: inline-block;
  padding: 0.8em 3.2em;
  font-size: 0.8em;
  color: #efec81;
  text-decoration: none;
  user-select: none;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-top: 5%;
  background: #be0027;
  border: 1px #be0027 solid;

}

.nav__btn:hover {
  color: #be0027;
  border: 1px #be0027 solid;
  background-color: #efec81;
}

/* ハンバーガーメニュー */
.menu-trigger {
  cursor: pointer;
  display: block;
  font-size: 70px;
  color: #be0027;
  transition: 0.2s ease;
}
.menu-trigger:hover{
  opacity: 0.5;
}

.menu-trigger.visible,
.menu.visible {
  display: block;
}

.menu {
  position: absolute;
  top: auto; 
  right: 0;
  background-color: #efec81;
  padding: 10px;
  display: none; 
  flex-direction: column; 
  margin-top: 90px;
  border-radius: 5px;
  height: 200px;
}

/* ナビゲーション */
.nav__right,
.menu {
  display: none;
  height: auto;
}

.nav__right.visible,
.menu.visible {
  display: flex; 
  flex-direction: column;
}

/* フォーム周り */
.form__wrapper {
  min-height: calc(100vh - 161px);
  width: 70%;
  border: 1px #ffffff solid;
  border-radius: 10px;
  padding: 5% 10%;
  margin: 0 auto; 
}

.form__text {
  width: 50%;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"] {
  width: 60%;
  padding: 5px;
  font-size: 16px;
}

.field textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

.field {
  margin: 20px 0;
}

.actions {
  margin-bottom: 40px;
}

.form__btn {
  display: inline-block;
  padding: 0.8em 3.2em;
  font-size: 1.0em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #be0027;
  border: 1px #ffffff solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  margin: 0 auto; 
}

.form__btn:hover {
  color: #be0027;
  background: #efec81;
}
/* メイン */

.snow-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.snow{
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  animation: snowFall 10s linear infinite;
}

@keyframes snowFall {
  0%{
    opacity: 0;
    top: 0;
    transform: translateX(5px);
  }
  10%{
    opacity: 1;
    transform: translateX(-5px);
  }
  20%{
    transform: translateX(5px);
  }
  30%{
    transform: translateX(-5px);
  }
  40%{
    transform: translateX(5px);
  }
  50%{
    transform: translateX(-5px);
  }
  60%{
    transform: translateX(5px);
  }
  70%{
    transform: translateX(-5px);
  }
  80%{
    transform: translateX(5px);
  }
  90%{
    opacity: 1;
    transform: translateX(-5px);
  }
  100%{
    opacity: 0;
    top: 100vh;
  }
}

.greeting {
  margin-bottom: 70px;
  text-align: center;
  opacity: 0;
  animation: slideIn 1s forwards;
  letter-spacing: 2px;
  transform: translateY(50px); 
}

.greeting2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 100px;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 3px;
  opacity: 0;
  animation: slideIn 1s forwards;
  transform: translateY(50px); 
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.greeting__link{
  text-decoration: underline;
  color: #ffffff;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  
}

.dog{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  min-height: calc(100vh - 161px);
}

.card {
  width: calc((100% - 45px) / 3);
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px #000000 solid;
  margin-left: 15px;

}
.card__img-container {
  width: 100%;
  height: 0;
  padding-bottom: 100%; 
  overflow: hidden;
  position: relative;
  border: 1px #000000 solid;
  transition: 0.2s ease;
}
.card__img-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; 
  transition: inherit; 
}

.card__img-container:hover:before {
  background: rgba(184, 184, 184, 0.3);
}

.card__img {
  margin-bottom: 16px;
  object-fit: cover; 
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 16px;
}

.card__body {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card__user {
  display: block;
  text-decoration: underline;
  font-size: 20px;
  color: #999;
}

.card__date {
  display: block;
  font-size: 12px;
  margin-top: 10px;
  color: #999;
}
/* 詳細ページ */
.note__wrapper{
  min-height: calc(100vh - 161px);
}

.note__card{
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px #000000 solid;
}

.note__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 10px;
}
.note__image{
  width: 40%;
  margin: 0 auto;
  border: 1px #000000 solid;
}
.note__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 8px;
  color: #3b4043;
}

.note__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
  margin-bottom: 10px;
  font-size: 1.3em;
}
.note__btn{
  display: block;
  padding: 1.0em 2.5em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 10px;
  background-color: #ffffff;
  
}
.note__btn:hover{
  color: #fff;
  background: #be0027;
}
.note__btn__heart{
  display: block;
  font-size: 1.3em;
  color: #be0027;
  text-decoration: none;
  user-select: none;
  transition: 0.4s ease;
  margin: 0 20px;
}
.note__btn__heart:hover{
  color: #efec81;
}
.note__btn__heart2{
  display: block;
  font-size: 1.3em;
  color: #efec81;
  text-decoration: none;
  user-select: none;
  transition: 0.4s ease;
  margin: 0 20px;
}
.note__detail2 {
  display: flex;
  justify-content: space-between;
}

.note__genre {
  display: flex; 
  font-size: 12px;
  margin-top: 10px;
  color: #999;
  margin-left: 20px;
}

.note__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
  border-radius: 10px;
  border: 1px #000000 solid;
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: center;
}

#comment_content{
  width: 300px;
  padding: 0.8em 3.2em;
  margin-top: 0;
  font-size: 1.0em;
  margin-right: 30px;
}

.comments_lists{
  padding-left: 20px;
  color: #163a27;
  text-align: center;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
  margin-right: 20px;
}

.comment_date{
  font-size: 12px;
  margin-top: 10px;
  color: #999;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);

}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 80%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background-color: #fdfbd4;
  border-collapse: collapse;
  border: 1px solid #000000;
  width: 20%;
  padding: 10px 20px;
  color: #163a27;
}
.table__col2{
  text-align: left;
  border: 1px solid #000000;
  background: #fafafa;
  border-collapse: collapse;
  width: 80%;
  padding: 10px 20px;
  color: #163a27;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.dog2 {
  height: 220px;
  transition: transform 0.5s ease;
}

.dog2:hover {
  transform: scale(1.1);
}

.hey {
  opacity: 0;
  animation: fadeInUp 2s ease-out forwards;
    font-size: 0.8em;
}

.dog2, .hey {
  vertical-align: top;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
  }
}

/* いいね一覧 */
.like__index{
  display: inline-block;
  padding: 0.8em 3.2em;
  font-size: 0.8em;
  color: #ffffff;
  text-decoration: none;
  user-select: none;
  border: 1px #ffffff solid;
  border-radius: 150px;
  transition: 0.2s ease;
  margin-top: 2%;
  margin-right: 5%;
}
.like__index:hover{
  color: #be0027;
  background: #ffffff;
}
.likes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

/* フォロー機能 */
.f__user{
  color: #f6f6f6;
  margin-bottom: 30px;
}

.f__user__link{
  text-decoration: underline;
  color: #ffffff;
}

/* レスポンシブデザイン */
/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 100px; 
    padding: 10px;
    flex-direction: row; /* 横並びにする */
    align-items: center;
    justify-content: space-between; 
  }

  .logo {
    max-width: 40%; 
  }

  .menu-trigger {
    max-width: 40%;
  }
}
